@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Hubballi&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Playwrite+US+Modern:wght@100..400&display=swap');
.services-page {
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    justify-content: center;
    align-items: center;
    height: auto; /* Remove fixed height */
    background-color: #dddee2;
    padding: 30px;
    margin: 0;
}

.services-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping for responsive design */
    gap: 20px; /* Adjust spacing between cards */
    width: 100%;
}

.service-card img {
    width: auto;
    height: 80vh; /* Maintain consistent height */
    max-height: 90vh;
    object-fit: contain;
    margin: 0; /* Reset negative margin */
    position: relative; /* Default positioning */
    z-index: 1;
}

.service-card {
    text-align: center;
}

.faq-section {
    margin-top: 30px;
    text-align: center;
    width: 100%; 
    font-family: "Josefin Slab", serif;
}

.faq-title {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-question {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px; 
    transition: color 0.3s ease;
    text-align: center;
}

.faq-question:hover {
    color: #71bdd6 
}

.faq-answer {
    margin-bottom: 20px;
    padding-left: 10px;
    color: #555;
    font-size: 25px;
    text-align: left; 
    width: 100%;
    max-width: 900px;
}
