.services-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f9f9f9;
    padding: 30px;
    margin: 0;
}

.services-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -30px; 
    flex-wrap: nowrap; 
    width: 100%;
}

.service-card img {
    width: auto;
    height: 80vh; 
    max-height: 90vh;
    object-fit: contain;
    margin: -100px; 
    position: relative; 
    z-index: 1;
}


