@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Hubballi&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Playwrite+US+Modern:wght@100..400&display=swap');

.welcome-section {
  background: url('../assets/welcome-image.svg') no-repeat center center/cover;
  width: auto;
  height: 105vh; /* full viewport height */
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.welcome-text {
  max-width: 700px;
  color: #fff; /* White text for contrast */
  padding: 1rem;
  margin-right: 6%;
  text-align: center; 
  font-family: "Josefin Slab", serif;
}

.welcome-text h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #364a50;
}

.welcome-text p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #364a50;
}

.contact-link {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  font-style: italic;
}

.contact-link-text {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: #364a50;
}

.contact-link-text:hover {
  text-decoration: underline;
  color: #69b7c2;
}

/* Mobile adjustments */
@media only screen and (max-width: 768px) {
  .welcome-section {
    height: auto; /* Let content determine height */
    justify-content: center; /* Center content horizontally */
    padding: 1.5rem; /* Slightly less padding on mobile */
    background-image: none;
  }

  .welcome-text {
    max-width: 90%; /* Reduce max-width for smaller screens */
    margin-right: 0; /* Remove right margin */
    text-align: center; /* Ensure text is centered */
  }

  .welcome-text h1 {
    font-size: 2.5rem; /* Smaller heading on mobile */
  }

  .welcome-text p {
    font-size: 1.5rem; /* Smaller paragraph text */
  }

  .contact-link {
    font-size: 1rem; /* Adjust contact link size */
  }
}
